.wrapper {
    margin-bottom: 1rem;
    max-width: 540px;
    font-weight: "Lexend Deca";
  }
  
  .title {
    font-size: 1.3125rem;
    line-height: 1.625rem; 
    font-weight: 300;
    color: #4B180F;
    margin: 0;
    margin-bottom: 0.75rem;
  }
  
  .card {
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    border: 1px solid #EDE8E7;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 2px;
  }
  
  .label {
    font-size: 0.75rem;
    font-weight: 300;
    color: #4B180F;
    line-height: 16px;
  }
  
  .text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 300;
    color: #00000099;
    margin: 0;
  }

  
  .updated .text {
    color: #E08335;
  }
  
  .discard .label{
    color: #A80000;
  }
  