.sidebar_li {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    padding: 18px 16px;
    width: 312px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    transition: margin 0.3s ease-in-out; 
}

.sidebar_li.active {
    background-color: #fff;
    border-radius: 50px 0px 20px 50px;
    margin-top: 10px; 
    margin-bottom: 10px; 
}


.sidebar_li.active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 60px;
    right: -17px;
    height: 73px;
    width: 33px;
    border-top-right-radius: 79px;
    border-bottom-right-radius: 17px;
    z-index: 999;
    box-shadow: 0 -44px 0 0 #fff;
}

.sidebar_li.active::after {
    content: "";
    position: absolute;
    z-index: 44;
    background-color: transparent;
    bottom: 100%;
    right: -18px;
    height: 80px;
    width: 32px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 64px;
    box-shadow: 0 59px 0 0 #fff
}

.sidebar_li:first-child.active::after {
    content: none;; 
}
.sidebar_li:first-child.active::before{
    top: 56px;
}

.sidebar_container_link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    display: block;
}

.icon_text_container {
    display: flex;
    align-items: center;
    gap: 10px;
}