
.cardWrapper {
 
   
  }
  .active {
    border: 1.4px solid #A80000;
  }
  
  .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #A80000;
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
  }
  