.sidebar_container{
  display: flex;
   
}


.sidebar{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar_li { 
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    padding: 18px 16px;
    width: 312px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.sidebar ul:last-child {
    color: red;
  }

.sidebar li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);

    font-size: 16px;
    display: block;
}
.icon_text_container{
    display: flex;
    align-items: center;
    gap: 10px;
}