:root {
  /* Add Form Css Variables */
  --shadow-one: 2px 4px 30px 0px #00000066;
  --backdrop-filter-one: blur(120px);
  --primary-color: #4b180f;
}

.addForm_box {
  max-width: 588px;
  width: 100%;
  border-radius: 3rem;
  position: relative;
  background: #ffffff4d;
  box-shadow: var(--shadow-one);
  backdrop-filter: var(--backdrop-filter-one);
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  position: absolute;
  top: 1.5rem;
  bottom: 1.5rem;
  right: -100%;
  transition: all 1s ease-in-out;
  z-index: 1000;
  /* max-height: 85vh; */
}

.addForm_box_open{
  right: 1rem;
}

.addForm_head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 3.2rem;
  padding : 2rem 1.5rem 0rem 1.5rem;
}

.addForm_head_content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--primary-color);
}

.addForm_head_content h4 {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
  opacity: 60%;
}

.addForm_head_content h3 {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 1.6875rem;
  line-height: 2.125rem;
  letter-spacing: 0px;
  padding: 0;
  margin: 0;
}

.addForm_head_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff4d;
  border-radius: 50%;
  width: auto;
  height: auto;
  border: none;
  cursor: pointer;
  position: absolute;
  /* top: px; */
  right: 20px;
  /* box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(60px); */
}

.addForm_content{
  height : calc(100% - 11.025rem);
  padding: 0px 1.5rem 0px 1.5rem;
  margin-top: 2.5rem;
}

.addForm_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2.25rem 0px 3rem 0px;
}

.addForm_footer button {
  cursor: pointer;
  font-family: "Lexend Deca";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  width: 8.75rem;
  /* height: 2.625rem; */
  border-radius: 100px;
  border-width: 1.2px;
  padding: 0.75rem 1rem;
}


.btn_outline {
  background: transparent;
  border: 1.2px solid rgba(128, 41, 26, 1);
  color: rgba(128, 41, 26, 1);;
}

.btn_contained{
  background: linear-gradient(152.51deg, #762618 17.11%, #46170F 85.58%);
  color: #ffffff;
  border: none;
}
