


.datacard_grid{
  font-family: "Lexend Deca", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 12px 16px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.datacard_grid_product {
    margin-top: 16px;
    }

    
    .datacard_grid_service{
     margin-top: 0px;
    }

 
  .datacard_service_heading{
      margin: 16px 0px 12px 0px;
      border-radius: 16px;
      padding: 12px;
      background: #FFFFFF99;
     
  }

  .datacard_description{
    font-family: Lexend Deca;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    
  }

  /* //////////////////////////////////////////////////// */


/*////////////////////////////////////////////////////////*/  

.datacard_reminder_wrapper{
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
  width: 368px;
  border-radius: 16px;
  padding: 12px;
  margin-top: 16px;
  gap: 8px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0.5px 1px 6px 0px rgba(0, 0, 0, 0.08);

}

.datacard_reminder{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
 
}

.datacard_reminder_expiry_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
gap: 50px;
   
}
.datacard_reminder_title{
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  font-weight: 400;;
}
.datacard_reminder_value_wrapper{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: 12px;
width: 180px;
border-radius: 10px;
padding: 4px;
background: #FFFFFF99;
}
.datacard_reminder_message_heading{
  font-size: 14px;
}
.datacard_reminder_message{
font-size: 12px;;
}
/*///////////////////////////////////////////////////////*/

  .datacard_benefit_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
  gap: 12px;

  }
  .datacard_benefit_wrapper_inner{
    
    width: 576px;
    height: 54px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 16px;
    padding: 4px 10px 4px 4px;
    background: rgba(255, 255, 255, 0.87);
    gap: 8px;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .datacard_benefit_wrapper_count{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 4px;
    background: rgba(237, 232, 231, 1);
    width: 42px;
    height: 42px;
    gap: 10px;
    flex-shrink: 0;
    
  }
  .datacard_benefit_value{

  }


  /* ////////////////////////////////////////////////////////////////////////// */
           /* discout css */

  /* //////////////////////////////////////////////////////          */

  .datacard_discount_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 12px 14px;
    overflow: scroll;
    scrollbar-width: none;
    grid-template-rows: auto;
  }
  
  .datacard_discount_items {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 6px;
    border-radius: 20px;
    transition: box-shadow 0.2s ease;
    background: rgba(255, 255, 255, 0.28);
    border: 1px solid rgba(237, 232, 231, 1);
    box-shadow: 0.5px 1px 6px 0px rgba(0, 0, 0, 0.08);
    gap: 8px;
  }
  
.datacard_discount_item{
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    padding: 12px;
    border: 1px solid rgba(237, 232, 231, 1);
    box-shadow: 0.5px 1px 6px 0px rgba(0, 0, 0, 0.08);
    gap: 8px;
}
.datacard_discount_header{
  font-family: Lexend Deca;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.87);

}
.datacard_discount_para{
  font-family: Lexend Deca;
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0%;


}

.datacard_discount_start_date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.datacard_discount_start_date_header{
  font-family: Lexend Deca;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0%;
text-align: center;

}
.datacard_discount_start_date_value_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 24px;
  border-radius: 10px;
  padding: 4px;
  background: rgba(228, 220, 219, 1);
  gap: 8px;
  

}
.datacard_discount_start_date_value{
  font-family: Lexend Deca;
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0%;
text-align: center;

}

.datacard_discount_time{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.datacard_discount_time_value{
  font-family: Lexend Deca;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.datacard_discount_time_value_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 35px;
  border-radius: 10px;
  background: rgba(228, 220, 219, 1);
}

.datacard_discount_value_outer{
display: flex;
justify-content: center;
flex-direction: column;
gap: 4px;
}

.datacard_discount_time_header{
  font-family: Lexend Deca;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0%;
text-align: center;

}